@model IEnumerable<FaultLogging.Core.Model.Fault>

@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2><br/>
@{
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Street</th>
            <th>Suburb</th>
            <th>PostCode</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var fault in Model)
            {
                <tr>
                    <td>@fault.Id</td>
                    <td>@fault.Address.Street</td>
                    <td>@fault.Address.CrossStreet</td>
                    <td>@fault.Address.Suburb</td>
                    <td>@fault.Address.PostCode</td>
                    <td>@fault.Type.Description</td>
                    <td>@fault.Status.Description</td>
                </tr>
            }
        }
        </tbody>
    </table>
        
}
